<html>
<head>
    <link rel="stylesheet" href="{{ constant('APP_PATH_CSS') }}jquery-ui.min.css" />
    <link rel="stylesheet" href="{{ constant('APP_PATH_CSS') }}bootstrap.min.css" />
    <link rel="stylesheet" href="{{ constant('APP_PATH_CSS') }}style.css" />
    <script type="text/javascript" src="{{ constant('APP_PATH_JS') }}base.js"></script>
</head>
<body>
<div class="container"><br />
    <div class="row">
        <div class="col-6 text-center">Configure New Module</div>
    </div><br />
    <div class="form-group">
        <form method="POST">
            {% for hook_name,hook_details in all_hooks %}
            <div class="row">
                <div class="col-2 text-right">
                    <input type="checkbox" name="selected_hooks[]" value="{{ hook_name }}" />
                </div>
                <div class="col-9">
                    <label for="selected_hooks[]">{{ hook_name }}</label>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-2 text-right">
                    <label for="namespace">Namespace</label>
                </div>
                <div class="col-9">
                    <input type="text" name="namespace" />
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-right">
                    <label for="classname">Class Name</label>
                </div>
                <div class="col-9">
                    <input type="text" name="classname" />
                </div>
            </div><br />
            <div class="row">
                <div class="col-6 text-center">
                    <input type="hidden" name="generate" value="1" />
                    <input type="submit" value="Generate" />
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>